/*todo: this is code duplicate from style, maybe find another idea how to to it*/
.previousStyle {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.7px;
    display: block;
    margin-bottom: 20px;
}

.blue {
    color: #0E63FF;
}

.green {
    color: green;
}

.red {
    color: red;
}

.violet {
    color: violet;
}

.videoCol {
  margin-bottom: 20px;
}

.researchItemContent {
}