.pageList {
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}

.pageSelector {
  cursor: pointer;
  text-decoration: underline;
  color: #0e63ff;
  text-decoration-color: #0e63ff;
}

.active {
  cursor: default;
  text-decoration: none;
  color: #171151;
}
