@import "../../../public/assets/scss/utils/breakpoints";

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Days One', sans-serif;
    width: 345px;

    .text {
        font-size: 1.7rem;
        margin-left: 10px;
    }
}

@media (max-width: 767px), only screen and (min-width: 768px) and (max-width: 991px) {
    .logoContainer {
        justify-content: flex-start;

        .text {
            font-size: 1.3rem;
            //margin-left: 10px;
        }
    };
}

.isSidebarVer {
    justify-content: flex-start;

    .text {
        color: white;

        @media #{$xs} {
            font-size: 1rem;
        }
    }
}