.videosMainImg {
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.MainImg {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.compArticlesVideoGirl {
    a {
        color: #007bff;
    }
}

.selectedCategory {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

.return {
    margin-left: 5px;
    margin-right: 10px;
}