.videosMainImg {
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center;
}

.MainImg {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.compArticlesVideoGirl {
    a {
        color: #007bff;
    }
}